@font-face {
  font-family: "DaxCondensed";
  src: url("./../fonts/DaxCondensed.woff2");
  font-style: normal;
}

@font-face {
  font-family: "DaxCondensed Light";
  src: url("./../fonts/DaxCondensedLight.woff2");
  font-style: normal;
}

@font-face {
  font-family: "OpenSans Light";
  src: url("./../fonts/opensanslight.woff2"),
       url("./../fonts/opensanslight.woff");
  font-style: normal;
}

@font-face {
  font-family: "OpenSans Bold";
  src: url("./../fonts/opensansbold.woff"),
       url("./../fonts/opensansbold.woff2");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "OpenSans Regular";
  src: url("./../fonts/opensans.woff"),
       url("./../fonts/opensans.woff2");
  font-style: normal;
} 