@font-face {
  font-family: "DaxCondensed";
  src: url("../fonts/DaxCondensed.ttf");
  font-style: normal;
}

@font-face {
  font-family: "DaxCondensed Light";
  src: url("../fonts/DaxCondensedLight.ttf");
  font-style: normal;
}

@font-face {
  font-family: "OpenSans Light";
  src: url("../fonts/OpenSansLight.ttf");
  font-style: normal;
}

@font-face {
  font-family: "OpenSans Bold";
  src: url("../fonts/OpenSansBold.ttf");
  font-style: normal;
}