@font-face {
  font-family: "DaxCondensed";
  src: url("./../fonts/DaxCondensed.ttf");
  font-style: normal;
}

@font-face {
  font-family: "DaxCondensed Light";
  src: url("./../fonts/DaxCondensedLight.ttf");
  font-style: normal;
}

@font-face {
  font-family: "OpenSans Light";
  src: url("./../fonts/opensanslight.ttf");
  font-style: normal;
}

@font-face {
  font-family: "OpenSans Bold";
  src: url("./../fonts/opensansbold.ttf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "OpenSans Regular";
  src: url("./../fonts/opensansregular.ttf");
  font-style: normal;
}