$testvar: green;
$cvet-tvoey-mama: red;

body {
	background-color: $cvet-tvoey-mama;
	color: $testvar;  
	display: flex;
	flex-direction: row;
	justify-content: center;
}      

@media screen and (max-width: 200px) {
	html {
		font-size: 15px;
	}
}