$line-grey: #303030;
$main-blue: #4fa8dc;
$PC-wrap: 980px;
$mobile-width: 660px;

$OSRegular: "OpenSans Regular", "Arial";
$OSBold: "OpenSans Bold", "Arial";
$OSLight: "OpenSans Light", "Arial";
$DXCLight: "DaxCondensed Light", "Impact";
$DXC: "DaxCondensed", "Impact";