.arrow {
	position: absolute;
	height: 100%;
	width: 100px;
	background-image: url('/build/images/arrow.png');
	background-repeat: no-repeat;
	background-position: 0px 50%;
	transition: transform 0s 0.3s;

	&--right {
		right: 0;
		background-position: 40px 50%;
		&:hover {
			transform: scale(1.1);
		};
	}

	&--left {
		left: 0;
		background-position: 40px 50%;
		transform: rotate(180deg);
		&:hover {
			transform: rotate(180deg) scale(1.1);
		};
	}
}