.footer {
	min-height: 66px;
	width: 100%;
	background-color: #fff;
}

.footer__wrapper {
	max-width: $PC-wrap;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer__menu-wrapper {

}

.footer__social {
	margin-left: 7px;
}

.footer__copyright {

}

@media (max-width: $mobile-width) {

	.footer {
		height: auto;
	}

	.footer__wrapper {
		flex-wrap: wrap;
		width: 50%;
	}

	.footer__menu-wrapper {
		display: none;
	}
	
	.footer__social {
		margin-right: auto;
		margin-left: auto;
		order: -1;
		margin-top: 10px;
	}
}

@media (max-width: $PC-wrap) {
	.footer__wrapper {
		justify-content: space-around;
	}
}