.gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: $PC-wrap;
	height: 657px;
	padding-left: 3px;
	padding-right: 3px;
	margin-left: auto;
	margin-right: auto;
}

.gallery__image-wrapper {
	position: relative;
	display: flex;
	width: 99.285%;
	height: 77.32%;
	border: 1px solid rgb(203, 203, 203);
	border-radius: 2px;
	box-shadow: 0px 2px 0px 0px rgb(221, 221, 221);
	transition: background-image 0.5s 0s;
}

.gallery__thumbnails-wrapper {
	margin-top: 10px;
}

.gallery__description {
	margin-top: auto;
	margin-right: auto;
}