.header {
	width: 100%;
	background-color: rgb(25,25,25); 
} 

.header__wrapper {
	height: 90px;
	max-width: $PC-wrap;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header__space {
	display: flex;
	height: 170px;
	width: 100%;
	background: linear-gradient(0deg, rgb(172, 172, 172) 0%, 
		rgb(172, 172, 172) 0.5%, rgb(189, 189, 189) 0.5%, rgb(206, 206, 206) 62%, 
		rgb(189, 189, 189) 99%, rgb(196, 196, 196) 99%, rgb(196, 196, 196) 100% );
	
}

.header__title-wrap {
	max-width: $PC-wrap;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
	flex-grow: 1;
 }

 .header__pseudo-title {
	height: 48px;
	position: absolute;
	left: -9999px;
	width: 9999px; //поехавший костыль
	background-color: $main-blue;
}

.header__title-container {
	height: 48px;
	width: 193px;
	background-color: $main-blue;
	display: flex;
	flex-direction: row;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		right: -18px;
		border-top: 48px solid $main-blue; 
		border-right: 18px solid transparent;	
	}
}

.header__title {
	margin-top: auto;
	margin-bottom: auto;
	flex-shrink: 0;
	font-family: $DXCLight; 
	font-weight: 200;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
}
 
.header__main-nav {
	margin-right: 4px;
}

.header__logo {
	margin-right: 0px;
}

.header__lang {

}

@media (max-width: $mobile-width) {
	.header__wrapper {
		width: 95%;
		height: auto;
		flex-direction: column;
		justify-content: space-around;
	}

	.header__title-wrap {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-top: auto;
		position: relative;
 	}

	.header__pseudo-title {
		display: none;
	} 

	.header__title-container {
		width: auto;

		&::after {
		display: none;
		}
	}

	.header__title {
		margin-left: auto;
		margin-right: auto;
	}

 	.header__main-nav {
		margin-right: 0;
		order: -1;
	}

	.header__lang {
		margin-top: 20px;
		order: 0;
	}

	.header__logo {
		order: 1;
		margin-bottom: 40px;
		margin-top: 20px; 
	}

}