.horizontal-flex {
	max-width: $PC-wrap;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.horizontal-flex__v-separ {
	height: 593px;
	width: 1px;
	background-color: rgb(205, 205, 205);
	padding-left: 7.14%;
	margin-left: auto;
	margin-top: 9px;
	padding-right: 3.1%;
	background-clip: content-box;
}

@media (max-width: $mobile-width) {
	
	.horizontal-flex {
	width: auto;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	}
	.horizontal-flex__v-separ {
		display: none;
	}
	.horizontal-flex__sidebar {
		margin-top: 10px;
	}
}