.lang {
	height: 13px;
	width: 30px;
	display: flex;
	flex-direction: row;
}

.lang__current {
	font-size: 13px;
	position: relative;
	color: #fff;
	text-decoration: none;
	font-family: 'OpenSans Light';
 	&::after {
 		position: absolute;
 		content: "";
		width: 10px;
		height: 5px;
		background-image: url("../images/select.png");
		background-repeat: no-repeat;
		top: 5px;
		right: -16px;
	} 
} 

@media (max-width: $mobile-width) { 

	.lang {
	height: 40px;
	}


	.lang__current {

		font-size: 20px;

		&::after {
 		position: absolute;
 		content: "";
		width: 10px;
		height: 5px;
		background-image: url("../images/select.png");
		background-repeat: no-repeat;
		top: 10px;
		right: -15px;

	} 

	}
}