
.logo {
	width: 165px;
	height: 48px;
	padding-top: 3px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-shrink: 0;
 }

 .logo__a {
	text-decoration: none;
 }

.logo__top-line {
	height: 1px;
	width: 158px;
	background-color: $line-grey;
}

.logo__text {
	margin-top: 3px; 
	margin-bottom: 0px;
	font-family: 'DaxCondensed Light';
	font-size: 28px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 200;
	white-space: nowrap;
} 


.logo__stars-line {
	width: 54px;
	height: 8px;
	background-image: url("../images/stars.svg");
	background-repeat: no-repeat;
	background-position: 0.5px 0px;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		width: 49px;
		height: 1px;
		left: 58px;
		top: 4px;
		background-color: $line-grey;
	}

	&::before {
		content: "";
		position: absolute;
		width: 49px;
		height: 1px;
		right: 58px;
		top: 4px;
		background-color: $line-grey;
	}
} 


@media (max-width: $mobile-width) {
	.logo {
		width: 100%;
		height: auto;
	}

	.logo__top-line {
		width: 260px;
	}

	.logo__text {
		font-size: 50px;
	}

	.logo__stars-line {

		&::after {
			width: 100px;
		}

		&::before {
			width: 100px;
		}
	}
}