.main {
	width: 68.5%;
	display: flex;
	flex-direction: column;
}


.main__h-separ {
	margin-top: 35px; 
	margin-bottom: 35px; 
}

.main__narrative {
	
}

@media (max-width: $mobile-width) { 

	.main {
		width: auto;
	}
}