.main {
	width: 68.5%;
	display: flex;
	flex-direction: column;
}


.main__h-separ {
	margin-top: 35px; 
	margin-bottom: 35px; 
	background-position: 2px 0px;
}

.main__h-separ--rooms-suites {
	margin-top: 46px;
	margin-bottom: 48px; 
}

.main__narrative {
	
}

@media (max-width: $mobile-width) { 
	.main {
		width: auto;
	}
}