.main {
	width: 672px;
	display: flex;
	flex-direction: column;
}

.main__h-separ {
	width: 666px;
	height: 1px;
	background-image: url('../images/dash-separator.png');
	margin-top: 35px; 
	margin-bottom: 35px; 
	background-position: 2px 0px;
}