.narrative {
	width: 100%;
}

.narrative__header {
	margin-bottom: 11px;
}

.narrative__header-text {
	margin: 0;
	font-family: $OSLight;
	font-weight: 200;
	font-size: 25px;
	color: rgb(55, 53, 53);
} 

.narrative__text {
	padding-left: 1px;
	margin-bottom: 20px;
}

.narrative__text--last {
	margin-bottom: 0px;
}

.narrative__strong {
	font-family: $OSBold;
	font-weight: 700;
} 