.nav-list {
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}


.nav-list__link {
	color: #fff;
	text-decoration: none;
	font-family: 'OpenSans Light';
	font-size: 17px;
	white-space: nowrap;
}

.nav-list__item {
	flex-grow: 1;
	position: relative;
	flex-shrink: 1;
	padding-left: 16px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	&::before {
		position: absolute;
		content: "";
		height: 18px;
		width: 1px;
		left: 0px;
		top: 18px;
		margin-left: 0px;
		background-color: $line-grey;
	}
}

.nav-list__item--first {
	&::before {
		display: none;
	};
}



.nav-list__link--selected {
	color: $main-blue;	
}


.nav-list__link--footer {
	font-family: "OpenSans Regular";
	font-size: 12px;
	line-height: 17px;
	color: rgb(155, 154, 154);
}

.nav-list__item--footer {
	&::before {
		display: none;
	}
	padding-left: 8px;
	padding-right: 9px;
	padding-top: 5px;
}

.nav-list__item--last {
	padding-right: 0;
}

@media (max-width: $mobile-width) {
	.nav-list {
		align-items: center;
	}

	.nav-list__item {
		&::before {
		display: none;
		}
	}
	.nav-list__link {
		font-size: 20px;
	}
}