.our-hotel {
	width: 100%;
}

.our-hotel__header {

}

.our-hotel__header-text {
	font-family: "OpenSans Light";
	@include sharpfont;
	font-size: 25px;
	margin: 0;
	color: rgb(55, 53, 53);
} 


.our-hotel__text {
	padding-left: 1px;
	margin-top: 11px;
	margin-bottom: 20px;
}

.our-hotel__text--last {
	margin-bottom: 0px;
}

.our-hotel__strong {
	font-family: "OpenSans Bold";
	text-transform: uppercase;
	font-weight: 700;
}