.page-info {
	width: $PC-wrap;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.page-info__v-separ {
	height: 593px;
	width: 1px;
	background-color: rgb(205, 205, 205);
	margin-right: 30px;
	margin-left: auto;
	margin-top: 9px;
}

@media (max-width: $mobile-width) {
	
	.page-info {
	width: auto;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
	}
	.page-info__v-separ {
		display: none;
	}
	.page-info__sidebar {
		margin-top: 10px;
	}
}