
.page-content {
	position: relative;
}

.page-content__sub-menu {
	margin-left: auto;
	margin-right: auto;
}

.page-content__indent {
	padding: 0 15px;
}

.page-content__horizontal-flex {
	margin-top: 41px;
}

.page-content__center-text {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.page-content__h-separ {
	margin-left: auto;
	margin-right: auto;
	margin-top: 54px;
	margin-bottom: 50px;
}

.page-content__h-separ--services {
	margin-top: 49px;
}

.page-content__services-container {
	margin-left: auto;
	margin-right: auto;
}

.page-content__gallery {
	margin-top: 48px;
}

@media (max-width: $mobile-width) {
	
	.page-content {
		width: auto;
	}
	.page-content__sub-menu {
		width: auto;
	}

}