.photo-n-text {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: flex-start;
}

.photo-n-text__image {
	height: 97px;
	width: 146px;
	background-color: rgb(252, 253, 255);
	margin: 0;
	flex-shrink: 0;
	margin-right: 24px;
	border-radius: 3px;
	border: 1px solid #d8d9db;
}

.photo-n-text__image-content {
	display: none;
}