.presentation {
	width: 100%;
}

.presentation__header {

}

.presentation__header-text {
	font-family: "OpenSans Light";
	font-weight: 200;
	font-size: 20px;
	margin: 0;
	color: rgb(55, 53, 53);
}

.presentation__item {
	margin-top: 35px;
	margin-bottom: 38px;
	margin-left: 1px;
}

.presentation__item--first {
}

.presentation__item--last {
	margin-bottom: 0px;
}