.reservations__h {
	
}

.reservations__desc {
	padding-left: 2px;
	margin-bottom: 14px;
	margin-top: 2px;
	line-height: 16px;
}

.reservations__container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
}

.reservations__date {
	width: 40%;
	flex-grow: 1;
}

.reservations__date--from {
	padding: 0;
	@include placeholder;
	margin-right: 5.3%;
}

.reservations__date--to {
	padding: 0;
	@include placeholder;
}

.reservations__select {
	margin-bottom: 13px;
	@include placeholder;
}

.reservations__submit {
	margin-top: 12px;
}

@media (max-width: $mobile-width) { 
	.reservations__date {
		width: 40%;
	}
}