.sidebar {
	width: 207px;
	display: flex;
	flex-direction: column;
}

.sidebar__search {
	margin-top: 7px;
}

.sidebar__reservations {
	margin-top: 39px;
}

.sidebar__reservations--rooms-suites {
	margin-top: 35px;
}

.sidebar__contact-us {
	margin-top: 39px;
}


@media (max-width: $mobile-width) { 	
	.sidebar {
		width: 70%;
	}
}