.sidebar {
	width: 207px;
	display: flex;
	flex-direction: column;
}

.sidebar__reservations {
	margin-top: 39px;
}

.sidebar__contact-us {
	margin-top: 39px;
}

.sidebar__search {
	margin-top: 7px;
}

@media (max-width: $mobile-width) { 
	
	.sidebar {
		width: 100%;
	}

	}