.social-link {
	height: 28px;
	width: 27px;
	background-image: url('../images/social-icons.png');
	background-repeat: no-repeat;
}


.social-link--tw {
	background-position: -1px -2px;
}

.social-link--fb {
	background-position: -32px -2px;
}

.social-link--yt {
	background-position: -64px -2px;
}

.social-link--flr {
	background-position: -96px -2px;

}

.social-link--pint {
	background-position: -129px -2px;
}