.sub-menu {
	width: 100%;
	position: relative;
	height: 51px;
	background-image: linear-gradient(left, transparent 0%, 
		rgb(251, 251, 251) 20%, rgb(251, 251, 251), rgb(251, 251, 251) 70%, transparent 100%);
	&::before {
	content: "";
	height: 1px;
	width: 100%;
	bottom: 0px;
	position: absolute;
	padding-bottom: 1px;
	background-image: linear-gradient(left, transparent 0%, #fff 10%, 
		#fff 90%, transparent 100% );
	}
	&::after {
		position: absolute;
		width: 980px;
		height: 6px;
		content: "";
		bottom: -5px;
        background-image: linear-gradient(bottom, transparent, rgb(189, 189, 189));
        box-shadow: inset -200px 0px 230px -100px rgb(235, 235, 235),
        			inset 200px 0px 230px -100px rgb(235, 235, 235);
	}
}

.sub-menu--map {
	position: absolute;
	&::after {
		box-shadow: none;
	}
}

.sub-menu__absolute-wrapper {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 520px) {
	.sub-menu { 
	background-color: rgb(251, 251, 251);
	
	height: auto;
	width: 100%;
	
	&::after {
		width: auto;
	}
}

}